.custom-shape-divider-bottom-1711789968 {
  margin-bottom: -1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 30;
}

.custom-shape-divider-bottom-1711789968 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 79px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1711789968 .shape-fill-3 {
  fill: #151a20;
}

.custom-shape-divider-bottom-1711789968 .shape-fill-2 {
  fill: #6e1869;
}

.custom-shape-divider-bottom-1711789968 .shape-fill-1 {
  fill: #0066ff;
}
