@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-background: #151a20;

  --white: #ffffff;

  --blue: #3c31dd;
  --red: #dd3f31;
  --pink: #ff0066;
  --dark: #0f0f10;
}

body {
  background-color: var(--body-background);
  color: var(--white);

  height: 300dvh;
}
