@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: BMSpace;
  src: url(/BMSPA___.TTF);
}

@font-face {
  font-family: Astronaut;
  src: url(/ASTRONAU.TTF);
}

@layer components {
  .font-bmspace {
    font-family: BMSpace, sans-serif;
  }

  .font-astronaut {
    font-family: Astronaut, sans-serif;
  }
}

:root {
  --body-background: #151a20;

  --white: #ffffff;

  --blue: #3c31dd;
  --red: #dd3f31;
  --pink: #ff0066;
  --dark: #0f0f10;
}

* {
  font-family: BMSpace, sans-serif;
}

body {
  background-color: var(--body-background);
  color: var(--white);
}

.asteroid {
  position: relative;
  background-color: var(--body-background);
  z-index: 15;
  padding-top: 64px;
}
